.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);

    pointer-events: auto;
  }
}

.modal__wrapper {
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;

  background-color: rgba($color-black, 0.3);
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modal__content {
  z-index: 15;

  width: 100%;
  min-width: 320px;

  text-align: center;
  text-transform: uppercase;

  background-color: $color-white;
  box-shadow: 0 7px 15px rgba($color-black, 0.2);

  &--error {
    max-width: 400px;
    padding: 45px 42px 35px 42px;

    .modal__description {
      margin-bottom: 28px;
    }

    .modal__button {
      max-width: 180px;
    }
  }

  &--success {
    max-width: 400px;
  }

  @media (min-width: $vp-768) {
    &--error {
      padding: 50px 42px 49px 42px;

      .modal__title {
        max-width: 250px;
        margin-bottom: 21px;

        line-height: 40px;
      }

      .modal__description {
        margin-bottom: 48px;
      }

      .modal__button {
        max-width: 272px;
      }
    }

    &--success {
      max-width: 640px;

      .modal__title {
        margin-bottom: 30px;
      }
    }
  }
}

.modal__wrapper-text {
  padding: 38px 38px 51px 38px;

  @media (min-width: $vp-768) {
    padding: 51px 98px 52px 98px;
  }
}

.modal__wrapper-button {
  width: 100%;
  max-width: 400px;
  padding: 20px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    max-width: 640px;
    padding: 44px 91px;
  }
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    font-size: 30px;
  }
}

.modal__description {
  margin: 0;

  color: $color-night-rider;
}

.modal__button {
  width: 100%;
  margin: 0 auto;
  padding: 18px 20px 14px 20px;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    font-size: 21px;
  }
}
